@import "../../styles/tailwind.css";


@theme{
    --animate-slide: slide 1s ease-in-out 100ms 1 forwards;
    @keyframes slide {
        0% {
            filter: blur(100px);
            opacity: 0;
            width:1%;
        }
        100% {
             filter: blur(0px);
             opacity: 1;
             width:100%;
        }
    }
}