@import "../../styles/tailwind.css";

@utility drone-offset {
    /*offset-path: path("M1 3C1 3 556.501 243 1014 1");*/
    offset-path: path("M1.008 5.054C41.9932 -15.4386 128.008 48.8634 205.508 25.9587C283.008 3.05401 370.508 21.5543 443.008 81.7774C515.508 142 623.508 25.9585 759.508 87.9184C895.508 149.878 927.464 48.8325 1014.01 3.054");
    /*offset-path: path("M0.743199 257.48C0.743199 257.48 198.545 90.0487 368.243 319.98C537.941 549.911 801.743 -43.0205 755.743 3.47951");*/
}

/* .drone-container:hover svg #drone {
    animation-play-state: running;
} */

@utility svg-animate-play-hover {
    &:hover svg g {
        animation-play-state: running;
    }
}

@theme{
    --animate-drone: move-drone 5s linear infinite alternate paused;
    @keyframes move-drone {
        100% {
            offset-distance: 100%;
            motion-offset: 10%;
        }
    }
}

/* @keyframes move-drone {
    100% {
        offset-distance: 100%;
        motion-offset: 10%;
    }
} */